@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(fonts.css);
@import url(scrollbar.css);

@layer base {
  :root {
    --fontSize: 1.2rem;
    --lineHeight: calc(var(--fontSize) * 1.65);
    --baseLine: calc(var(--lineHeight) / 2);
    --typeScale: 1.333;
    --h5Size: calc(var(--fontSize) * var(--typeScale));
    --h4Size: calc(var(--h5Size) * var(--typeScale));
    --h3Size: calc(var(--h4Size) * var(--typeScale));
    --h2Size: calc(var(--h3Size) * var(--typeScale));
    --h1Size: calc(var(--h2Size) * var(--typeScale));
    --small: calc(var(--fontSize) * 0.75);
    --highlight: #9bfd9e;
    --bg: #16425b;
    --darker-bg: #111827;
    --pastel-green-1: #b6fadf;
    --pastel-green-2: #4e8c71;
    --default-text: #81c3d7;

    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 187 100% 84.1%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 194, 52%, 67%;
    --input: 194, 52%, 67%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }

  a {
    @apply text-tomato transition ease-in-out hover:underline;
  }

  li::before {
    font-weight: 800;
    @apply text-blue-100;
  }

  li {
    margin-bottom: calc(0.75ex * 1.65);
    @apply ml-2;
  }

  ul li {
    @apply list-disc;
  }

  p {
    @apply p-2 w-fit rounded-sm;
    background: var(--darker-bg);
  }

  * {
    @apply border-border;
  }

  body {
    background-color: var(--bg);
    color: var(--default-text);
    @apply font-jetbrains;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    margin-top: calc(1ex * 1.65);
    margin-bottom: calc(0.5ex * 1.65);
    line-height: 2ex;
    word-wrap: break-word;
  }

  h1 {
    font-size: var(--h1Size);
    line-height: calc(var(--h1Size) * calc(var(--typeScale) - 0.165));
  }

  h2 {
    font-size: var(--h2Size);
    line-height: calc(var(--h2Size) * calc(var(--typeScale) - 0.165));
  }

  h3 {
    font-size: var(--h3Size);
    line-height: calc(var(--h3Size) * calc(var(--typeScale) - 0.165));
  }

  h4 {
    font-size: var(--h4Size);
    line-height: calc(var(--h4Size) * calc(var(--typeScale) - 0.165));
  }

  h5 {
    font-size: var(--h5Size);
    line-height: calc(var(--h5Size) * calc(var(--typeScale) - 0.165));
  }

  p,
  ul {
    font-size: var(--fontSize);
    max-width: 65ch;
  }

  blockquote {
    @apply p-4 m-4 border-l-8 rounded-md border-gb-tomato;
    background: var(--darker-bg);
    quotes: '\201C' '\201D' '\2018' '\2019';
  }

  blockquote:before {
    @apply mr-1 text-5xl text-gb-tomato;
    content: open-quote;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

}

.prose {
  --tw-prose-headings: var(--pastel-green-2);
  --tw-prose-quotes: inherit;
  --tw-prose-bold: var(--pastel-green-2);
}

.prose a {
  @apply text-gb-pastel-green-1;
  /* @apply text-yellow-500; this isn't such a bad color for links, should I ever get tired of the green*/
}

iframe.bandcamp-widget-wide,
.bww {
  @apply max-w-xs aspect-square;
}

iframe.bandcamp-widget-wide.tracklist {
  height: 220px;
}

.title {
  @apply mx-4 my-5 text-3xl font-bold text-left sm:text-6xl md:text-7xl;
}

.shadooo {
  box-shadow: inset -86px 0px 34px -43px rgba(217, 217, 217, 0.6);
}

.floating-nav-icon {
  @apply min-h-[48px] text-sky-300 hover:text-gb-tomato;
}

.floating-nav-button {
  @apply inline-flex flex-col justify-center px-5;
  @apply transition ease-in-out hover:underline;
}

.curated-posts {
  @apply grid w-full gap-10 px-4 py-16 mx-auto sm:grid-cols-2 lg:grid-cols-3 lg:px-8 lg:py-20;
}

.default-icon {
  color: inherit;
  @apply w-6 h-6 cursor-pointer aspect-square hover:text-gb-tomato;
}

.overrides {
  --font-body: 'JetBrainsMono', monospace !important;
  --baseTextContrast: var(--default-text) !important;
}
